@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
//  Webudvikler
$WUC1: #D64643;
$WUC2: #DD5050;
$WUC3: #CC4A50;
$WUC4: #B2434B;
//  Mediegrafiker
$MGC1: #AF61A9;
$MGC2: #A43380;
$MGC3: #922F75;
$MGC4: #852C70;
//   Digital media
$DMC1: #808736;
$DMC2: #8C993D;
$DMC3: #88A73F;
$DMC4: #95B246;
//  Grafisk tekniker
$GTC1: #4A6C9E;
$GTC2: #5379B2;
$GTC3: #567EBF;
$GTC4: #4C71A6;
//  Dark theme
$DT-background: #424242;
$DT-wrapper: #252525;
$DT-font: #E6E6E6;
//   Light Theme
$LT-background: #F3FEFE;
$LT-wrapper: #E6E6E6;
$LT-font : #171717;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  



main{
    background: $DT-background;
    font-family: open sans;
    min-height: 100vh;
    .search{
        display: inline-block;
        background-color: $DT-wrapper;
        color: $DT-font;
        height: 35px;
        input{
            border: none;
            background-color: $DT-wrapper;
            color: $DT-font;
            height: 35px;
            padding: 5px;
        }
        i{
            display: inline-block;
            height: 100%;
            padding: 5px;

        }
    }
    section{
        article{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
            .cards{
                width: 300px;
                figure{
                    background: $DT-wrapper;
                    color: $DT-font;
                    img{
                        width: 100%;
                    }
                    h3{
                        margin: 0 1em;
                    }
                    figcaption{
                        position: relative;
                        width: 100%;
                        height: 30px;
                        p:first-child{
                            position: absolute;
                            left: 1em;
                        }
                        p{
                            position: absolute;
                            right: 1em;
                        }
                    }
                }
                .tags{
                    display: flex;
                    .tag{
                        display: flex;
                        background: red;
                        height: 30px;
                        padding: 0 1em;
                        margin: 5px 5px 5px 0;
                        border-radius: 15px;
                        align-items: center;
                        gap: 0.5em;
                        color: $DT-font;
                    }
                }
            }
        }
    }
}