@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #424242;
}

.index-main {
  width: 100%;
}

.education-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  margin: 10%;
  height: 800px;
  background-color: rgba(37, 37, 37, 0.8);
}

.education-text {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.education-media {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: burlywood;
}

.footer {
  height: 400px;
  width: 100%;
  background-color: #252525;
}
