@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
//  Webudvikler
$WUC1: #D64643;
$WUC2: #DD5050;
$WUC3: #CC4A50;
$WUC4: #B2434B;
//  Mediegrafiker
$MGC1: #AF61A9;
$MGC2: #A43380;
$MGC3: #922F75;
$MGC4: #852C70;
//   Digital media
$DMC1: #808736;
$DMC2: #8C993D;
$DMC3: #88A73F;
$DMC4: #95B246;
//  Grafisk tekniker
$GTC1: #4A6C9E;
$GTC2: #5379B2;
$GTC3: #567EBF;
$GTC4: #4C71A6;
//  Dark theme
$DT-background: #424242;
$DT-wrapper: #252525;
$DT-font: #E6E6E6;
//   Light Theme
$LT-background: #F3FEFE;
$LT-wrapper: #E6E6E6;
$LT-font : #171717;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  