@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
//  Webudvikler
$WUC1: #D64643;
$WUC2: #DD5050;
$WUC3: #CC4A50;
$WUC4: #B2434B;
//  Mediegrafiker
$MGC1: #AF61A9;
$MGC2: #A43380;
$MGC3: #922F75;
$MGC4: #852C70;
//   Digital media
$DMC1: #808736;
$DMC2: #8C993D;
$DMC3: #88A73F;
$DMC4: #95B246;
//  Grafisk tekniker
$GTC1: #4A6C9E;
$GTC2: #5379B2;
$GTC3: #567EBF;
$GTC4: #4C71A6;
//  Dark theme
$DT-background: #424242;
$DT-wrapper: #252525;
$DT-font: #E6E6E6;
//   Light Theme
$LT-background: #F3FEFE;
$LT-wrapper: #E6E6E6;
$LT-font : #171717;
//Font sizes
$H1-size: 32px;
$H2-size: 28px;
$H3-size: 24px;
$p-size: 16px;
$anchor-size: 24px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}  

p, h1, h2, h3 {
    color: $DT-font;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

html {
    background-color: $DT-background;
}


//  MAIN   ------------------------------------------------------

.index-main {
//  position
    width: 100%;
}


.education-article {
//  position
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 10%;
    height: 800px;
//  style
    background-color: rgba($DT-wrapper, 0.8);
}

.education-text {
    //  position
        width: 100%;
        height: 100%;
        margin-top: 10%;
        
    //  style
        background-color: transparent;


        h2 {
        //  position
            margin-top: 10%;
            margin-left: 10%;
            margin-bottom: 10%;
        }

        p {
        //  position
            margin-top: 3%;
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    .education-media {
    //  position
        display: grid;
        width: 100%;
        height: 100%;
    //  style 
        background-color:transparent;
    }

    .image-box-1, .image-box-2, .image-box-3, .image-box-4 {
    //  position
        width: 400px;
        height: 400px;
        border-radius: 100%; 
        margin: auto;
        background-position: center;
        background-size: cover;
    //  style       
    }

    .image-box-1 {
        background-image: url(/img/bliv_webudvikler_aalborg_uddannelse.jpg); //webudvikler billed
    }

    .image-box-2 {
        background-image: url(/img/grafisk_design_uddannelse_skole_aalborg.jpg); //mediegrafiker billed
    }

    .image-box-3 {
        background-image: url(/img/video_web_film_premiere.jpg); //digital media billed
    }

    .image-box-4 {
        background-image: url(/img/_mg_9043-650.jpg); //grafisk tekniker billed 
    }
//  FOOTER ------------------------------------------------------

.footer {
//  position
    display: grid;
    grid-template-columns: 40% 1% 30% auto;
    height: 400px;
    width: 100%;
//  style
    background-color: $DT-wrapper;

    .footer-section {
        display: grid;
        justify-items: center;
    //  position
        width: 100%;
        height: 100%;
    //  style 
        background-color: transparent;
    }

    img {
        margin-top: 10%;
    }

    li {
        list-style: none;
        color: $LT-wrapper;
        font-size: $p-size;
        text-align: center;
    }

    .footer-divider {
        display: grid;
        height: 350px;
        width: 3px;
        margin: auto;
        border-radius: 25px;
        background-color: $LT-wrapper;

    }
}